<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h1>visualiza os baguio ai</h1>
    <p th:if="${vazio}">ta vazio vei</p>
    <table th:unless="${vazio}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
                <td th:text="${produto.quantidade}"></td>
            </tr>
            <tr>
                <td>X</td>
                <td><strong>total:</strong></td>
                <td th:text="${precoTotal}"></td>
                <td th:text="${quantTotal}"></td>
            </tr>
        </tbody>
    </table>
    <a href="formCarrinho">Voltar às compras</a>
    <br>
    <a href="formDeleteCarrinho">Editar carrinho</a>
</body>

</html>